<!DOCTYPE html>
<html en="lang" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout/adminlayout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <section class="content-header">
        <h1>

        </h1>
    </section>
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12" style="margin: auto;padding: 20px;">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title" th:text="${createNew ? 'Create Book' : 'Update Book'}">Book</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" th:action="${createNew ? '/create/submit' : '/update/submit'}" method="post" th:object="${book}"
                          enctype="multipart/form-data">
                        <input type="hidden" th:field="*{id}">
                        <div class="box-body">
                            <div class="form-group">
                                <label th:text="#{table.title}"></label>
                                <input type="text" class="form-control" placeholder="Enter title" th:field="*{title}"/>
                                <p style="color: red;" th:if="${#fields.hasErrors('title')}" th:text="${#fields.errors('title')}"></p>
                            </div>
                            <div class="form-group">
                                <label th:text="#{table.author}"></label>
                                <input type="text" class="form-control" placeholder="Author" th:field="*{author}">
                            </div>
                            <div class="form-group">
                                <label th:text="#{category}"></label>
                                <select th:name="category.id" id="category_id">
                                    <option th:each="category: ${categories}" th:object="${category}" th:value="*{id}" th:text="*{cate_name}"></option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label th:text="#{table.publisher}"></label>
                                <input type="text" class="form-control"  placeholder="Publisher" th:field="*{publisher}">
                            </div>
                            <div class="form-group">
                                <label th:text="#{table.publisher}"></label>
                                <input type="date" class="form-control" placeholder="Publish date" th:field="*{publishdate}">
                            </div>
                            <div class="form-group">
                                <p th:text="#{Description}"></p>
                                <textarea th:field="*{description}" cols="100" rows="10"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Thumbnail</label>
                                <input name="file" type="file">
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        <!-- /.row -->
    </section>
</div>
<script >
    /*<![CDATA[*/
    var book_cate_id = /*[[${book.category.id}]]*/ null;
    var categories = /*[[${categories}]]*/ null;

    console.log(book_cate_id);
    // console.log(categories);
    /*]]>*/


    $(document).ready(function () {
        $.each(categories, function (index, category) {
            // console.log(category);
            if (book_cate_id == category.id) {
                $('#category_id option[value="' + book_cate_id + '"]').attr('selected', 'selected');
            }
        })
    });

</script>
<script th:inline="javascript" layout:fragment="myscript">
    /*<![CDATA[*/
    var book_cate_id = /*[[${book.category.id}]]*/ null;
    var categories = /*[[${categories}]]*/ null;
    console.log(book_cate_id);
    // console.log(categories);
    /*]]>*/
    $(document).ready(function () {
        $.each(categories, function (index, category) {
            // console.log(category);
            if (book_cate_id == category.id) {
                $('#category_id option[value="' + book_cate_id + '"]').attr('selected', 'selected');
            }
        })
    });
</script>
</body>
</html>