<!DOCTYPE html>
<html en="lang" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/admin-layout/adminlayout}">
<head>
</head>
<body>
  <div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-book"></i></span>

            <div class="info-box-content">
              <span class="info-box-text"th:text="#{book}"></span>
              <span class="info-box-number" th:text="${book_count}"></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-list"></i></span>

            <div class="info-box-content">
              <span class="info-box-text" th:text="#{category}"></span>
              <span class="info-box-number" th:text="${cate_count}">41,410</span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

      </div>
      <!-- /.row -->


      <!-- /.row -->

      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <!-- /.col -->
        <div class="box box-info col-md-8">
          <div class="box-header with-border">
            <h3 class="box-title">Recently Added</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <div class="table-responsive">
              <table class="table no-margin">
                <thead>
                <tr>
                  <th>Code</th>
                  <th th:text="#{table.title}"></th>
                  <th th:text="#{table.author}"></th>
                  <th th:text="#{category}"></th>
                  <th th:text="#{table.publisher}">Popularity</th>
                  <th th:text="#{publishdate}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="obj : ${books}" th:object="${obj}">
                  <td><a th:href="@{/view/{id}(id=*{getId()})}" th:text="*{id}"></a></td>
                  <td th:text="*{title}">Call of Duty IV</td>
                  <td th:text="*{author}"></td>
                  <td th:text="*{category.cate_name}"></td>
                  <td th:text="*{publisher}"></td>
                  <td th:text="*{publishdate}"></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <a href="/create" class="btn btn-sm btn-info btn-flat pull-left" th:text="#{menu.createbook}"></a>
            <a href="/booklist" class="btn btn-sm btn-default btn-flat pull-right" th:text="#{BookList}">View All Orders</a>
          </div>
          <!-- /.box-footer -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
</body>
</html>
